*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(../images/project\ 12.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: ;
}
.about{
    background-color: rgba(150, 150, 150, 0.6);
    box-shadow:  0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}
h1, h2, h3{
    margin-bottom: 15px;
    color: #111010;
    padding-left: 100px;
    background-color: aliceblue;
    border-radius: 12px;
    width: 350px;
}
p{
    margin-bottom: 15px;
}
.header{
    padding: 10px 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}
.header >.headline{
    font-size: ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 80px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 12px;



}
.header >.headline > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;


}
.header >.headline > a:hover{
    color: rgb(11, 199, 27);
    letter-spacing: 1.5px;
}
.paragraph{
    padding-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.team{
    padding-left: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.mission{
    padding-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.vision{
    padding-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.footer{
    background-color: black;
    height: 50px;
    padding: 10px 300px;

}
