@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    
    
} 
body{
    --primary-color: #da6709;
    font-family: "Inter", sans-serif;
    align-items: center;
    padding: 2rem; 
    background-color:#b19f5d ;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    padding:10px 400px ;

}
.header >.choose{
    background-color: rgb(0, 12, 8);
    width: 80px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px;
}
.header >.choose a{
    text-decoration: none;
    color: rgb(247, 243, 239);
    transition: 0.3s;

}
.header >.choose > a:hover{
    color: #eb7d24;
    letter-spacing: 1px;
    
}


.auth-form{
    margin-left: 70px;
    padding: 100px 300px;
    width: 550px;
    background-color: rgba(231, 220, 220, 0.788);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    overflow: hidden;
    gap: 0.7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.auth-form > *{
    flex: 1;
    
}
.auth-form >.left{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;


}
.auth-form >.left div{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: white;
}
.auth-form >.left p{
    font-size: 0.75rem;
}
.auth-form >.left button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 5px;

}
.auth-form >.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

}
.right >p{
    font-size: 0.75rem;
    color: #555555;
}
.input-field{
    position: relative;
    width: 100%;
}
.input-field i{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);

}
.input-field input{
    padding: 8px 10px;
    width: 100%;
    border: none;
    background-color: rgb(223, 222, 222);

}
.right button{
    padding: 8px 10px;
    width: 100%;
    text-transform: uppercase;
    border: none;
    font-weight: 500; color: white; 
    border-radius: 12px;
    background: linear-gradient(90deg, black, var(--primary-color));
}
.social-icons{
    display: flex;
    gap: 0.5rem;

}
.social-icons > div{
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 5px;
}






 


