
body {
    margin: 0;
}
.header {
    background-image: url(../images/extract_0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 500px;
    padding: 20px;
       
}
.nav-links{
    display: flex;
    justify-content:space-between; 
    align-items: center;
    padding: 5px 350px;
    
}
.nav-links .active a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(8, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transition: 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 5px;
    width: 80px;
    background-color: rgba(4, 45, 48, 0.123);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}
.nav-links .active a:hover {
    background-color: #0b794d;
    box-shadow: 0px 15px 20px rgba(0, 8, 5, 0.4);
    transform: translateY(-7px);
    color: #fff; 
    letter-spacing: 1px;
} 
.logo h1{
    text-align: left;
    background-color: #fdd701;
    border-radius: 45px;
    padding: 10px;
    color: rgb(5, 4, 4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 120px;
    width: 470px;
}  
.logo p2{
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    background-color: rgb(146, 211, 211);
    border-radius: 45px;
    padding: 5px;
    width: 350px;
    text-shadow: 2px 2px 4px rgba(240, 236, 236, 0.7);

}
.contect-area {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 400px;
    background-color: rgb(229, 240, 240);
    

}
.contect-area >.service{
    background-image: url(../images/home\ office01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    width: 450px;
    background-position: center;
    box-shadow: 2px 2px 10px rgba(20, 13, 13, 0.3) ;
    border-radius: 45px;
    

}
.contect-area >.service h2{
    text-align: center;
    color: #000;
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    border-radius: 45px;
    font-size: 25px;
    padding: 5px;

}
.contect-area >.service ul{
    text-align: left;
    color:#fff;
    text-shadow: 2px 2px 4px black;
    font-size: 18px;
    font-weight: lighter;
}
.contect-area >.center{
    background-image: url(../images/open\ office002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    width: 450px;
    box-shadow: 2px 2px 10px rgba(15, 9, 9, 0.3) ;
    border-radius: 45px;

}
.contect-area >.center h2{
    text-align: center;
    color: #000;
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    border-radius: 45px;
    font-size: 25px;
    padding: 5px;
    

}
.contect-area >.center ul{
    text-align: left;
    color:#fff;
    text-shadow: 2px 2px 4px black;
    font-size: 16px;
    font-weight: lighter;
}

.contect-area >.right{
    background-image: url(../images/home\ office02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 1px;
    width: 450px;
    box-shadow: 2px 2px 10px rgba(22, 11, 11, 0.863) ;
    border-radius: 45px;
}
.contect-area .right h2{
     text-align: center;
    color: #000;
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    border-radius: 45px;
    font-size: 25px;
    padding: 5px;

}
.contect-area .right p{
    text-align: left;
    color:#fff;
    text-shadow: 2px 2px 4px black;
    font-weight: lighter;
    font-size:15px;
}
.social-media{
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(238, 245, 245);
    font-weight: bold;
    height: 80px;
    

}
.social-media a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 0 15px;
    transition: 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 20px;
    background-color: #e6ad11;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.social-media a:hover{
    background-color: #0c6d6d;
    box-shadow: 0px 15px 20px rgba(5, 15, 11, 0.4);
    transform: translateY(-7px);
    color: #ece4e4; 
    letter-spacing: 1.5px;
}
.footer {
    background-color: rgb(18, 32, 32);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer p {
    margin: 0;
    font-size: 20px;
}

